<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>

    <style>
        .footer{
            position: relative;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
        }
    </style>
    <center>

        <footer class="footer bg-dark">
            <div class="container">
                <span class="text-light">&copy; Todos los derechos reservados por Osuna Bueno Merari Jazel</span>
            </div>
            
        </footer>

    </center>
    
</body>

</html>
