<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Recibo de Pago</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        a{
            margin-top: 2rem;
            width: 100%;
            padding: 10px;
            background-color: #dd3c3c;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer; 
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        .receipt {
            margin-top: 40px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        .receipt p {
            margin-bottom: 10px;
        }

        .receipt hr {
            margin: 20px 0;
            border: none;
            border-top: 1px solid #ddd;
        }

        .receipt h2 {
            margin-top: 20px;
            color: #007bff;
        }
    </style>
</head>

<body>

    <%-include('partials/header.ejs')%>

    <div class="container">
        <h1>Generar Recibo de Pago</h1>
        <form action="/" method="post">
            <label for="numDocente">Número de Docente:</label>
            <input type="text" id="numDocente" name="numDocente" required><br>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br>

            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" required><br>

            <label for="nivel">Nivel:</label>
            <select id="nivel" name="nivel" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select><br>

            <label for="pagoBase">Pago Base por Hora Impartida:</label>
            <input type="number" id="pagoBase" name="pagoBase" required><br>

            <label for="horasImpartidas">Horas Impartidas:</label>
            <input type="number" id="horasImpartidas" name="horasImpartidas" required><br>

            <label for="cantidadHijos">Cantidad de Hijos:</label>
            <input type="number" id="cantidadHijos" name="cantidadHijos" required><br>

            
            <button type="submit">Generar Recibo</button>
            <a href="/">Limpiar</a>
        </form>
    </div>

    <% if (numDocente) { %>
    <div class="receipt container">
        <h1>Recibo de Pago</h1>
        <p><strong>Número de Docente:</strong> <%= numDocente %></p>
        <p><strong>Nombre:</strong> <%= nombre %></p>
        <p><strong>Domicilio:</strong> <%= domicilio %></p>
        <p><strong>Nivel:</strong> <%= nivel %></p>
        <p><strong>Pago Base por Hora Impartida:</strong> <%= pagoBase %></p>
        <p><strong>Horas Impartidas:</strong> <%= horasImpartidas %></p>
        <p><strong>Cantidad de Hijos:</strong> <%= cantidadHijos %></p>
        <hr>
        <p><strong>Pago Base Total:</strong> <%= pagoBaseTotal %></p>
        <p><strong>Impuesto:</strong> <%= impuesto %></p>
        <p><strong>Bono por Paternidad:</strong> <%= bonoTotal %></p>
        <hr>
        <h2><strong>Total a Pagar:</strong> <%= totalAPagar %></h2>
    </div>
    <% } %>
</body>

<%-include('partials/footer.ejs')%>

</html>
